/* Global Color Scheme g10 */ //Organization: Global Industry Solutions - Distribution Market

// Background
$background: #f4f4f4;
$background-hover: rgba(141, 141, 141, 0.12);
$background-active: rgba(141, 141, 141, 0.5);
$background-selected: rgba(141, 141, 141, 0.2);
$background-selected-hover: rgba(141, 141, 141, 0.32);
$background-inverse: #393939;
$background-inverse-hover: #4c4c4c;
$backgrund-brand: #0f62fe;

// Layer
$layer: #ffffff;
$layer-alt: #f4f4f4;
$layer-hover: #e8e8e8;
$layer-active: #c6c6c6;
$layer-selected: #e0e0e0;
$layer-selected-hover: #cacaca;
$layer-selected-inverse: #161616;
$layer-selected-disabled: #8d8d8d;

// Layer Accent
$layer-accent: #e0e0e0;
$layer-accent-hover: #e0e0e0;
$layer-accent-active: #a8a8a8;

// Field
$field: #ffffff;
$field-alt: #f4f4f4;
$field-hover: #e8e8e8;

// Border
$border-interactive: #0f62fe;
$border-subtle-00: #c6c6c6;
